body{
	font-family:"Times New Roman";
	text-align:center;
	background-color:#000000;
	color:#FFFFFF;
}
nav a{
	display:inline-block;
	margin-left:-4px;
	margin-right:-4px;
	padding-left:70px;
	padding-right:70px;
	border-left:2px solid black;
	border-right:2px solid black;
}
